n8n/Frontend_Esp32.json
{
  "name": "Frontend-Esp32",
  "nodes": [
    {
      "parameters": {
        "path": "fe5a4408-3951-4124-90b0-ddfd26cc11ed",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "6e3ac0b4-5f4f-4c3d-b3d2-a4e71c58e07b",
      "name": "Webhook",
      "webhookId": "fe5a4408-3951-4124-90b0-ddfd26cc11ed"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"verision\": \"1.0.0\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        540,
        0
      ],
      "id": "ceabce8b-a2b9-445d-b1bd-ab27d931392f",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "move_request",
          "mode": "list",
          "cachedResultName": "move_request"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "device_id",
              "value": "1"
            },
            {
              "column": "nome_astro",
              "value": "={{ $json.query.nome_astro }}"
            },
            {
              "column": "lat",
              "value": "={{ $json.query.latitude }}"
            },
            {
              "column": "lng",
              "value": "={{ $json.query.longitude }}"
            },
            {
              "column": "az",
              "value": "={{ $json.query.az }}"
            },
            {
              "column": "alt",
              "value": "={{ $json.query.alt }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        280,
        0
      ],
      "id": "51750390-ae72-400b-8022-63eed60f8f62",
      "name": "MySQL1",
      "credentials": {
        "mySql": {
          "id": "pAsif1g6D0J4GEIE",
          "name": "MySQL account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "MySQL1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "MySQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "115c9578-424f-4bc2-bc29-798dd4b9ee41",
  "meta": {
    "instanceId": "e021cccfca5471517d93ec2b8704826295a25fb71f9297d05c75cd7b97b17292"
  },
  "id": "elX0XqnZyJ1Cfdq0",
  "tags": []
}